@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #af37d3, #ff0000);
}

.app
{
    width: 100%;
    max-width: 540px;
    max-height: 80vh;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    overflow-y: auto;
}

.app::-webkit-scrollbar
{
    background: transparent;
    width: 10px;
}

.app::-webkit-scrollbar-thumb
{
    background: #af37d386;
    border-radius: 10px;
    transition: background 1s;
}

.app::-webkit-scrollbar-thumb:hover
{
    background: #af37d39c;
}

.app h2
{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    color: #ff0000;
}

.list
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input
{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

button
{
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #af37d3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: background 1s;
}

button:hover
{
    background: #ff0000;
}

ul li
{
    list-style: none;
    font-size: 14px;
    padding: 15px 8px 15px 50px;
    user-select: none;
    cursor: pointer;
    overflow-wrap: break-word;
    position: relative;
}

u li::before
{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(ASSETS/circle.svg);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 8px;

}

ul li.checked
{
    color: #888888;
}

ul li.checked::before
{
    background-image: url(ASSETS/tick.svg);
}

ul li span
{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: px;
    font-size: 25px;
    color: #969696;
    line-height: 40px;
    text-align: center;
}

ul li span:hover
{
    color: #353535;
}